# 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana',42],index=['ho','he'])
s

ho    banana
he        42
dtype: object

# 데이터프레임 만들기

In [6]:
scientists = pd.DataFrame({'name':['Jeong Been', 'Dong Hu'],
                          'Occupation':['Student', 'Developer']}
                         ,
                         index=['ho','he'],
                         columns=['no','ne'])
scientists

     no   ne
ho  NaN  NaN
he  NaN  NaN

# 데이터프레임에서 시리즈 선택하기

In [10]:
scientists = pd.DataFrame(
    data={'Occupation':['Chemist','Statistician'],
         'Born':['1920-07-25','1876-06-13'],
         'Died':['1958-04-16','1937-10-16'],
         'Age':[37,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Died','Age']
)

first_row=scientists.loc['William Gosset']
second_row=scientists.loc['Rosaline Franklin']
print(type(first_row))

<class 'pandas.core.series.Series'>

# index, values, keys 사용하기

In [11]:
print(first_row.index)
print("\n")
print(second_row.values)
print("\n")
print(second_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')


['Chemist' '1920-07-25' '1958-04-16' 37]


Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [12]:
print(first_row.index[1])
print(first_row.keys()[1])

Born
Born

# 시리즈의 mean, min, max, std 메서드 사용하기

In [16]:
ages = scientists['Age']
ages

ages.mean()
ages.min()

37

# 시리즈와 불린 추출 사용하기

In [30]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']
print(ages.max())
print(ages.mean())
print(ages[ages > ages.mean()])
print(ages > ages.mean())

manual_bool_values = [True,True,True,False,False,False,False,False]
print(ages[manual_bool_values])

90
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
0    37
1    61
2    90
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [37]:
print(ages)
print(ages+100)

print(ages+pd.Series([1,100]))

rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [42]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])
print(scientists.loc[[True,True,False,True,True,True,True,True]])
print(scientists*2)

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1     William Gosset  1876-06-13  1937-10-16   61        Statistician
3        Marie Curie  1867-11-07  1934-07-04   66             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5          John Snow  1813-03-15  1858-06-16   45           Physician
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7       Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 데이터프레임과 브로드캐스팅

In [44]:
print(scientists['Born'].dtype)

object

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [81]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(born_datetime)
scientists['born_dt'],scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

scientists['age_days_dt'] = (scientists['died_dt']-scientists['born_dt'])
print(scientists)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [112]:
# print(scientists['Age'])

import random

random.seed(20)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    45
1    66
2    41
3    61
4    37
5    77
6    56
7    90
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [117]:
print(scientists.columns)
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [119]:
names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

scientists.to_pickle('../output/scientists_df.pickle')
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

# CSV 불러오기