# 시리즈 만들기

In [5]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

s = pd.Series(['Wes Mckinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

0    banana
1        42
dtype: object

# 데이터프레임 만들기

In [13]:
from collections import OrderedDict

Scientist= pd.DataFrame(OrderedDict([
    ('Name',['Rosaline Franklin', 'William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-25','1876-06-13']),
    ('Died',['1958-04-14','1937-10-16']),
    ('Age',[37,61])
    
])
                       )
Scientist

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-14   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [24]:
scientists = pd.DataFrame(
    data={'Occupation':['Chemist','Statistician'],
          'Died':['1959-07-25','1937-10-13'],
         'Born':['1920-07-25','1876-06-13'],
         'Age':[37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Died','Age']
)
first_row=scientists.loc['William Gosset']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-13
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [25]:
print(first_row.index)
print("\n")
print(first_row.values)
print("\n")
print(first_row.keys())
print("\n")
print(first_row.keys()[0])
print("\n")

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')


['Statistician' '1876-06-13' '1937-10-13' 61]


Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')


Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [28]:
ages = scientists['Age']
print(ages)
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

49.0

# 시리즈와 브로드캐스팅

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기